.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

google_drive/

# ignore cpp compilation files (they're big)
*.so
*.o

# ignore the data files to keep private
*.xlsx

# ignore temporary office files
~$*.*

# ignore large presentations
report/Min_Final_Project.pptx
